<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>controllers.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controllers.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivatedAccountController</servlet-name>
        <servlet-class>controllers.ActivatedAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateArticleUserController</servlet-name>
        <servlet-class>controllers.CreateArticleUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetArticleAdminController</servlet-name>
        <servlet-class>controllers.GetArticleAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogProcessAdminController</servlet-name>
        <servlet-class>controllers.BlogProcessAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusAdminController</servlet-name>
        <servlet-class>controllers.ChangeStatusAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetArticleController</servlet-name>
        <servlet-class>controllers.GetArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailArticleController</servlet-name>
        <servlet-class>controllers.ShowDetailArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCommentsController</servlet-name>
        <servlet-class>controllers.GetCommentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentsController</servlet-name>
        <servlet-class>controllers.PostCommentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailAdminController</servlet-name>
        <servlet-class>controllers.ShowDetailAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/AuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivatedAccountController</servlet-name>
        <url-pattern>/ActivatedAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateArticleUserController</servlet-name>
        <url-pattern>/CreateArticleUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetArticleAdminController</servlet-name>
        <url-pattern>/GetArticleAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogProcessAdminController</servlet-name>
        <url-pattern>/BlogProcessAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusAdminController</servlet-name>
        <url-pattern>/ChangeStatusAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetArticleController</servlet-name>
        <url-pattern>/GetArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailArticleController</servlet-name>
        <url-pattern>/ShowDetailArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCommentsController</servlet-name>
        <url-pattern>/GetCommentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentsController</servlet-name>
        <url-pattern>/PostCommentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailAdminController</servlet-name>
        <url-pattern>/ShowDetailAdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
